<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<header>
		<h1>Welcome to our Machine Learning App</h1>
	</header>
	<div class="container">
		<p>Fill out the form to get a prediction of Lung Cancer.</p>
		<a href="/form">Get Started</a>
		<div class="creators">Created by Drishti Patel, Priyanshu Rana and Michelle Harris</div>
	</div>
</body>
</html>
