<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<header>
		<h1>Welcome to our Machine Learning App</h1>
	</header>
	<div class="container">
		<p>Lung Cancer is the fifth most diagnosed cancer in Australia (cancer.org.au). It is estimated that more than 14, 700 people were diagnosed with lung cancer in 2023. In this academic project we have used data from a Kaggle Source and developed machine learning models to predict lung cancer.</p>
		<img src="{{ url_for('static', filename='Lungs_1.png') }}" alt="Lungs Image">
		<p>Fill out the form to get a prediction of Lung Cancer.</p>
		<a href="/form">Get Started</a>
		<div class="creators">Created by Drishti Patel, Priyanshu Rana and Michelle Harris</div>
	</div>
</body>
</html>

